*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--mdui-color-on-background));
  font-size: 14px;
}
