@use './base.scss';

#app {
  width: 960px;
  height: 600px;
}

html,
body {
  overflow: hidden;
}

#app {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: var(--mdui-elevation-level5);
  margin: 20px;
  color: rgb(var(--mdui-color-on-surface));
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-grow {
  flex-grow: 1;
}
