@use './base.scss';

html,
body {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #eee;
  z-index: -100;
}

#app {
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-grow {
  flex-grow: 1;
}
